dotenv
openai
fastapi
deepeval
sqlalchemy>=2.0.30
mem0ai>=0.1.0
httpx
requests
pydantic>=2.7.0
pytest
pytest-cov
uvicorn
chromadb>=0.5.0
sentence-transformers>=3.0.0
pydantic-settings>=2.2.0
mem0ai[nlp]
httpx
google-genai>=0.5.0
openai
asyncpg